h2 {
  font-family: "Barlow Semi Condensed", sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 3rem;
  margin: 0;
}

.Banner {
  height: 400px;
  position: relative;
}
.Banner .Media {
  background-color: white;
  height: 100%;
  overflow: hidden;
  position: relative;
  transition: 300ms;
  cursor: pointer;
}
.Banner .Media .MediaCaption {
  text-overflow: ellipsis;
  position: absolute;
  bottom: 0;
  padding: 15px;
  background-color: black;
  color: white;
  opacity: 0.6;
  width: 100%;
  height: 10%;
  font-size: 25px;
  font-weight: 200;
  transition: 300ms;
  cursor: pointer;
}

/* responsive css for banner.media.mediacaption*/
@media screen and (max-width: 1200px) {
  .Banner .Media .MediaCaption {
    height: 15%;
  }
}

.Banner .Media .MediaCaption:hover {
  opacity: 0.8;
}
.Banner .Media:hover {
  filter: brightness(115%);
}
.Banner .BannerGrid {
  height: 100%;
}
.Banner .Content {
  color: white;
  background-color: #83A5CA;
  height: 100%;
  padding: 30px;
  transition: 300ms;
}
.Banner .Content .Title {
  font-size: 40px;
  font-weight: 500;
}
.Banner .Content .Caption {
  margin-top: 10px;
  font-size: 21px;
}

