.Banner {
  height: 400px;
  position: relative;
}
.Banner .Media {
  background-color: white;
  height: 100%;
  overflow: hidden;
  position: relative;
  transition: 300ms;
  cursor: pointer;
}
.Banner .Media .MediaCaption {
  text-overflow: ellipsis;
  position: absolute;
  bottom: 0;
  padding: 15px;
  background-color:  #32373c;
  color: white;
  opacity: 0.6;
  width: 100%;
  height: 8%;
  font-size: 20px;
  font-weight: 400;
  transition: 300ms;
  cursor: pointer;
}

/* responsive css for banner.media.mediacaption*/
@media screen and (max-width: 1200px) {
  .Banner .Media .MediaCaption {
    height: 15%;
  }
}

.Banner .Media .MediaCaption:hover {
  opacity: 0.8;
}
.Banner .Media:hover {
  filter: brightness(115%);
}
.Banner .BannerGrid {
  height: 100%;
}
.Banner .Content {
  color: white;
  background-color: #83a5ca;
  height: 100%;
  padding: 30px;
  transition: 300ms;
}
.Banner .Content .Title {
  font-size: 1.5625rem;
  font-weight: 700;
  text-transform: uppercase;
}
.Banner .Content .Caption {
  margin-top: 10px;
  font-size: 20px;
  font-weight: 200;
}
