.MuiFormLabel-root {
  color: rgba(0, 0, 0, 0.54) !important;
  padding: 0;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 0.6875rem !important;
  font-family: Montserrat, sans-serif !important;
}

.MuiInputBase-root {
  font-size: 0.8rem;
  font-family: Montserrat, sans-serif;
  letter-spacing: 1px;
}

/* title font for mobile screen */
.title {
  display: flex;
  justify-content: center;
  font-family: Montserrat, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1rem;
  line-height: 1.25;
  margin-bottom: 2rem;
}

/* title font for regular screen */
@media only screen and (min-width: 700px) {
  .title {
    font-size: 1.5625rem;
  }
}
