#footer {
  width: 100%;
  background-color: #1c313a;
  color: white;
}

#footer-logo {
  color: white;
  padding-top: 50px;
  padding-bottom: 20px;
  display: flex;
  justify-content: center;
  font-family: "Century Gothic Std";
  letter-spacing: -0.5px;
  font-size: 22px;
  font-weight: bolder;
}


.menu-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Nunito Sans',sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7rem;
}

.link-hover:hover {
  color: #007c91;
  text-decoration-color: #007c91;
}

#social-media {
  padding-top: 40px;
  padding-bottom: 50px;
  display: flex;
  justify-content: center;
}

h3 {
  margin-top: 30px;
  margin-bottom: 10px;
  padding-bottom: 10px;
  letter-spacing: 1px;
  line-height: 1.7;
  font-family: "Barlow Semi Condensed", sans-serif;
  font-weight: 400;
  font-size: 14px;
  text-transform: uppercase;
}
