#footer {
  width: 100%;
  background-color: #1c313a;
}

#footer-logo {
  color: white;
  padding-top: 50px;
  padding-bottom: 20px;
  display: flex;
  justify-content: center;
  font-family: 'Century Gothic Std';
  font-size: 20px;
  font-weight: bolder;
}

.menu {
  padding-right: 15px;
  padding-left: 15px;
}

#menu-container {
  display: flex;
  justify-content: center;
}

ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 1.7rem;
}

h3 {
  margin-bottom: 20px;
}
