h3 {
  margin-top: 30px;
  margin-bottom: 10px;
  padding-bottom: 10px;
  letter-spacing: 1px;
  line-height: 1.7;
  color: #32373c;
  font-family: Montserrat, sans-serif;
  font-weight: bolder;
  font-size: 12px;
  text-transform: uppercase;
}

.menu-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Montserrat, sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.7rem;
}

.link-hover:hover {
  color: #83A5CA;
  text-decoration-color: #83A5CA;
}

#footer {
  width: 100%;
  background-color: whitesmoke;
  color: #32373c;
}

#footer-logo {
  color: #32373c;
  padding-top: 50px;
  padding-bottom: 20px;
  display: flex;
  justify-content: center;
  font-family: Montserrat, sans-serif;
  letter-spacing: .5px;
  font-size: 18px;
  font-weight: bolder;
}



#social-media {
  padding-top: 40px;
  padding-bottom: 50px;
  display: flex;
  justify-content: center;
}


