.MuiTypography-body2 {
  height: 100px;
}

.MuiCardContent-root {
  height: 190px;
}

@media only screen and (max-width: 500px) {
  .MuiTypography-body2 {
    height: 100px;
    overflow: hidden;
  }
}
