.google-map {
  /* width: 50%; */
  height: 60vh;
}

.google-map div {
  border-radius: 20px !important;
}

@media screen and (min-width: 799px) {
  .google-map {
    height: 95%;
    width: 60%;
  }

  .pin {
    width: 15vw;
  }
}

.pin {
  display: flex;
  align-items: center;
  width: 180px;
}

.pin-text {
  font-family: Montserrat, sans-serif;
  font-size: 1.3em;
}

.map {
  border-radius: 20px;
}
