.google-map {
  width: 60%;
  height: 95%;
}

.google-map div {
  border-radius: 20px;
}

.pin {
  display: flex;
  align-items: center;
  width: 180px;
  color: #ff5d4e;
}

.pin-text {
  font-family: Montserrat, sans-serif;
  font-size: 1.1em;
  padding: 5px;
  border: 1px solid white;
  background-color: white;
  border-radius: 10px;
  color: black;
}

.map {
  border-radius: 20px;
}
